<!DOCTYPE html>
<html>
 {% include head.html %}
 <body>
 {% include nav.html %}
 {% include h1.html %}
 <hr/>
 <div class="content">
  {{ content }}
  <p>Art projects: <button onclick="javascript:expandPoint('art');">View</button></p>
  <div class="projectPoint" id="art">
   <img class="projectPoint" src="https://raw.githubusercontent.com/iamtheblackunicorn/iamtheblackunicorn/main/assets/banner.png"/>
   <p class="projectPoint">A rainbow peace sign!<a href="https://raw.githubusercontent.com/iamtheblackunicorn/iamtheblackunicorn/main/assets/banner.png">Get it now.</a></p>
  </div>
 </div>
 {% include footer.html %}
 {% include javascript.html %}
 </body>
</html>
